<html>
<head>
    <title>$i18n.getText("assigneform.title")</title>
    <meta name="decorator" content="panel-general">
    $webResourceManager.requireResource("jjanczyk.jira.plugin.assignee-form:assignee-form-resources")
</head>
<body>
<form id="assignee-form" class="aui">
    <div class="field-group">
        <label for="issue-name">$i18n.getText("assigneform.issuename.label")</label>
        <input type="text" id="issue-name" name="issue-name" class="text" required>
    </div>
    <div class="field-group">
        <input id="check-button" type="submit" value="$i18n.getText('assigneeform.search.label')" class="button">
    </div>
    <div id="no-issue-group" class="field-group">
        <div id="no-issue-msg" class="error">$i18n.getText("assigneform.issuename.noissue.label")</div>
    </div>
    <div id="result-group" class="field-group">
        <label for="check-result">$i18n.getText("assigneform.result.label")</label>
        <span id="check-result" class="aui-button aui-button-link">
            <span class="aui-avatar aui-avatar-xsmall">
                <span class="aui-avatar-inner">
                    <img src="" id="avatar"/>
                </span>
            </span>
            <span id="check-result-name"></span>
            (<a id="issue-link">$i18n.getText("assigneeform.issuelink.label")</a>)
        </span>
    </div>
</form>
</body>
</html>